@page "/"
@using ForgeEventApp.Interfaces
@using ForgeEventApp.Models
@inject IEventRepository Repository

<PageTitle>Home</PageTitle>

<h1>Forge<br />Event</h1>

<div class="d-flex align-items-center flex-column">
		@if (events is null)
		{
			<p>Loading...</p>
		}
		else
		{
			@foreach(var item in events) 
			{
				<div class="col-3 p-1">
					<div class="card h-100">
						<img src="/images/EventImages/@item.ImageUrl" class="img-fluid card-img-top" alt="@item.Name" />
						<div class="card-body">
							<h5 class="card-title">@item.Name</h5>
							<p class="card-text">@item.Date.ToString("dddd, dd MMMM yyyy")</p>
						</div>
					</div>
				</div>
			}
		}
</div>

@code {
	private IEnumerable<Event>? events;

	protected override async Task OnInitializedAsync()
	{
		// var url = "https://localhost:7206/api/Events";
		events = await Repository.GetAllEventsAsync();
	}
}
