@page "/"
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

<h1>Forge<br />Event</h1>

<div class="container d-flex flex-column">
		@if (events is null)
		{
			<p>Loading...</p>
		}
		else
		{
			@foreach(var item in events) 
			{
			<div class="d-flex justify-content-center">
				<div class="col-3 p-1" style="width: 50%">
					<div class="card h-100">
						<a href="@($"event-details/{item.Id}")" style="text-decoration: none; color: inherit;">
							<img src="/images/EventImages/@item.ImageUrl" class="img-fluid card-img-top" alt="@item.Name" />
							<div class="card-body">
								<h5 class="card-title">@item.Name</h5>
								<p class="card-text">@item.Date.ToString("dddd, dd MMMM yyyy")</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			}
		}
</div>

@code {
	private IEnumerable<Event>? events;

	protected override async Task OnInitializedAsync()
	{
		events = await HttpClient.GetFromJsonAsync<IEnumerable<Event>>("https://localhost:7206/api/Events/allevents");
	}
}
