@inherits LayoutComponentBase
@* @inject IJSRuntime JS *@

<div class="text-center d-flex flex-column vh-100">
    <div class="fixed-top">
        <NavMenu />
    </div>

    <main class="content flex-grow-1 overflow-auto px-4" style="margin-top: 64px; height: auto;">
        <article class="content-body">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>