<nav class="navbar bg-dark navbar-expand-lg " data-bs-theme="dark" id="navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
            <a class="mx-5" href="#" style="text-decoration: none; color: goldenrod;">Forge<br />Event</a>
            <ul class="navbar-nav me-auto d-flex align-items-center">
                <li class="">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="">
                    <a class="nav-link" href="/createuserpage">Create account</a>
                    </li>
                <li class="">
                    <a class="nav-link" href="#">Link</a>
                </li>

                <li class="">
                    <a class="nav-link" href="/createeventpage">Create Event</a>
                </li>
                <li class="">
                    <a class="nav-link" href="/profilepage/1">Profile</a>
                </li>
                <li class="dropdown">
                    <Dropdown Size="Size.Small" id="nav-dropdown">
                        <DropdownToggleButton Color="ButtonColor.None">Dropdown button</DropdownToggleButton>
                        <DropdownMenu>
                            <DropdownHeader>Header</DropdownHeader>
                            <DropdownItem To="#" Type="ButtonType.Link">Action</DropdownItem>
                            <DropdownItem To="#" Type="ButtonType.Link">Another action</DropdownItem>
                            <DropdownItem To="#" Type="ButtonType.Link">Something else here</DropdownItem>
                        </DropdownMenu>
                       </Dropdown>
                </li>
            </ul>
            <div class="card text-center">
               @*  <SearchFormForNavMenu /> *@
            </div>
            <a class="nav-link" id="nav-user" href="/Login"><Icon Name="IconName.PersonCircle" Style="font-size: 1.5rem"></Icon></a>
        </div>
    </div>
</nav>





