@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


 

<EditForm method="post" Model="SearchRequest" OnValidSubmit="Search" FormName="search" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="container text-center">
    <div class="row align-items-center">
    <div class="col">
    @if (CategoriesDisplay != null)
    {
        <InputSelect class="form-select" @bind-Value="SearchRequest.Category">
            <option value="">Select an option</option>
            @foreach (var category in Enum.GetValues(typeof(Category)))
            {
                <option value="@((int)category)">@category</option>
            }
        </InputSelect>
    }
    </div>
    <div class="col">
                <InputText id="name" @bind-Value="SearchRequest.SearchString" class="form-control" />
            </div>
    <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
        </div>
    </div>
</EditForm>



@code {
    private IEnumerable<string> CategoriesDisplay;

    [SupplyParameterFromForm]
    private SearchRequest SearchRequest { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        CategoriesDisplay = await HttpClient.GetFromJsonAsync<IEnumerable<string>>("https://localhost:7206/api/Events/categories");
    }

    public async Task Search()
    {
        NavigationManager.NavigateTo($"/search/{SearchRequest.Category}/{SearchRequest.SearchString}");
    }
}
