@page "/ticketpurchasepage"
@using ForgeEventApp.Functions
@attribute [StreamRendering]

<h3>TicketPurchasePage</h3>

@code {
    private Validations _validations;

    private async Task PurchaseTicket()
    {

        bool ticketAmountLeftValid = await _validations.ValidateTicketAmountLeft(1, 1);

        if(!ticketAmountLeftValid)
        {
            return;
        }

        bool userConfirm = false;

        if(!userConfirm)
        {
            return;
        }
    }

}
