@page "/createuserpage"
@inject HttpClient HttpClient
@inject ForgeEventApp.Interfaces.IValidations FORMSUCCESS

<h3>CreateUserPage</h3>
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="User" OnValidSubmit="AddUser" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="firstname" class="form-label">firstname:</label>
                <InputText id="firstname" @bind-Value="User.FirstName" class="form-control" />
                <ValidationMessage For="() => User.FirstName" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">lastname:</label>
                <InputText id="lastname" @bind-Value="User.LastName" class="form-control" />
                <ValidationMessage For="() => User.LastName" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email:</label>
                <InputText type="email" id="email" @bind-Value="User.Email" class="form-control" />
                <ValidationMessage For="() => User.Email" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="phonenumber" class="form-label">Phonenumber:</label>
                <InputText id="phonenumber" @bind-Value="User.PhoneNumber" class="form-control" />
                <ValidationMessage For="() => User.PhoneNumber" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <InputText type="password" id="password" @bind-Value="User.Password" class="form-control" />
                <ValidationMessage For="() => User.Password" class="text-danger" />
            </div>
            <input type="hidden" id="rolehidden"  @bind="User.Role" /> 
           <div class="mb-3">
               <label class="form-label">Role:</label>
                   <InputRadioGroup @bind-Value="User.Role" class="form-control" Name="Role">
                       <InputRadio Value="Role.Admin" id="admin" Name="Role" /> <label for="admin">Admin</label>
                   <InputRadio Value="Role.User" id="user" Name="Role" /> <label for="user">User</label>
                   </InputRadioGroup>
                   <ValidationMessage For="() => User.Role" class="text-danger" />
           </div>
            <button type="submit" class="btn btn-primary">Create</button>
            @if (showSuccessMessage)
            {
                <div class="alert alert-success" role="alert">
                    User has been created!
                </div>
            }
        </EditForm>
    </div>
</div>
           

@code {
    [SupplyParameterFromForm]
    public User User{ get; set; } = new();
    private bool showSuccessMessage = false;
    
    public async Task AddUser()
    {
        await HttpClient.PostAsJsonAsync($"https://localhost:7206/api/Users/{User}", User);

        await FORMSUCCESS.SubmitFormAsync(() =>
        {
            showSuccessMessage = true;
            FORMSUCCESS.RestValidFormBool();
        });
    }
} 

    